@tailwind base;
@tailwind components;
@tailwind utilities;

.penguin {
    background: url('./ui/imgs/penguin.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
